<!--dashboard content-->
<main class="container-fluid " id="Home">
  <div class="jumbotron pt-md-5">
      <div id="home-tiles">
          <div class="row ">
              <div class="col-lg-6 col-xl-3 mb-2">
                  <div class="card">
                      <div class="card-header bg-danger font-weight-bolder">Customers</div>
                      <div class="card-body">
                          <div class="dash-tile-icon"><i class="fas fa-users"></i></div>
                          <div class="dash-tile-text text-right text-black-50"><h2>93</h2></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xl-3 mb-2">
                  <div class="card">
                      <div class="card-header bg-danger font-weight-bolder">Items</div>
                      <div class="card-body">
                          <div class="dash-tile-icon"><i class="fas fa-cubes"></i></div>
                          <div class="dash-tile-text text-right text-black-50"><h2>101</h2></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xl-3 mb-2">
                  <div class="card">
                      <div class="card-header bg-danger font-weight-bolder">My Orders</div>
                      <div class="card-body">
                          <div class="dash-tile-icon"><i class="fas fa-shopping-cart"></i></div>
                          <div class="dash-tile-text text-right text-black-50"><h2>999</h2></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xl-3 mb-2">
                  <div class="card">
                      <div class="card-header bg-danger font-weight-bolder">Settings</div>
                      <div class="card-body">
                          <div class="dash-tile-icon" style=""><i class="fas fa-cogs"></i></div>
                          <div class="dash-tile-text text-right text-black-50">
                              <h2>
                                  <button class="btn btn-danger">new</button>
                              </h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
